AddDefaultCharset UTF-8
allow from all

RewriteEngine On
RewriteRule ^index.html$ index.php [L] 
RewriteBase /

RewriteRule ^([a-zA-Z-_0-9]+)-([a-zA-Z-_0-9]+)/?$ index.php?project=$1&file=$2 [L]
RewriteRule ^([a-zA-Z-_0-9]+)/?$ index.php?project=$1 [L]